{% extends "base.html" %}
{% block title %}Song search{% endblock %}
{% block content %}

{% if search.by=="artist" %}
  <p hidden id="user-default-intro-prompt">{{user.get('default_intro_prompt_artist')}}</p>
  <p hidden id="user-default-prompt" >{{user.get('default_prompt_artist')}}</p>
{% elif search.by=="keyword" %}
  <p hidden id="user-default-intro-prompt">{{user.get('default_intro_prompt')}}</p>
  <p hidden id="user-default-prompt" >{{user.get('default_prompt')}}</p>
{% endif %}

<p hidden id="user-default-improver-prompt" >{{user.get('default_improver_prompt')}}</p>
<p hidden id="user-default-img-prompt" >{{user.get('default_img_prompt')}}</p>

<div class="container-fluid" style="width:100%;margin:0px" >
  <!--  TITLE   
  <div class="row">
    <div class="col" style="justify-content:center;text-align:center">
      <h1 class="page-title">{% block page_title %}Search songs{% endblock %}</h1>
    </div>
  </div>-->

  <!--  CONFIG   -->
  <div class="row">
    <div class="col-12" style="padding:0">
      <div class="accordion" id="input-accordion">

        <!--  INPUTS   -->
        

        <!--  PROMPTS  -->
        <div class="accordion-item" id="prompts-acc-label">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#prompts-acc-item" aria-expanded="true" aria-controls="prompts-acc-item">
              Prompts
            </button>
          </h2>

          <div id="prompts-acc-item" aria-labelledby="prompts-acc-label" class="accordion-collapse collapse" data-bs-parent="#input-accordion">
            <div class="container-fluid accordion-body">
              <div class="row" style="width:100%">

                <!--  SONG PROMPT  -->
                <div class="accordion-content col-lg-6 col-12">

                  <div style="display:flex;align-items:flex-start">
                    <h6 class="section-title">Song description prompt </h6>
                    <button class="btn btn-outline-secondary btn-sm" style="margin-left:auto" onClick="resetPrompt('song')">Reset</button>
                    
                  </div>

                  {% if search.by=="keyword" %}
                    <p class="text" style="white-space: pre-wrap" id="prompt-rules" >You can use the following placeholders that will be replaced with each song's data: [artist] [release year] [track name] [keyword]</p>
                  {% elif search.by=="artist" %}
                    <p class="text" style="white-space: pre-wrap" id="prompt-rules" >You can use the following placeholders that will be replaced with each song's data: [artist] [release year] [track name]</p>
                  {% endif %}

                  <textarea class="text basic-padding"  name="prompt" id="prompt" style="width:100%" >{{search.prompt}}</textarea> 
                  
                  <div id="prompt-div" class="horizontal-container">
                    <input type="checkbox" value="limited" id="default-prompt" name="default-prompt" class="checkbox"/>
                    <label class="text" for="default-prompt" >Set as default</label>

                    <input {{"checked" if search.improved_song else ""}} type="checkbox" value="limited" id="check-improve-song" name="improve-song" class="checkbox"/>
                    <label class="text" for="check-improve-song" >Improve song description</label>
                  </div>
                </div>

                <!--  INTRO PROMPT  -->
                <div class="accordion-content col-lg-6 col-12">
                
                  <div style="display:flex;align-items:center">
                    <h6 class="section-title">Intro prompt </h6>
                    <button class="btn btn-outline-secondary btn-sm" style="margin-left:auto" onClick="resetPrompt('intro')">Reset</button>
                    
                  </div>
                      
                  {% if search.by=="keyword" %}
                    <p class="text" style="white-space: pre-wrap" id="intro-prompt-rules" >You must use the [keyword] placeholder.</p>
                  {% elif search.by=="artist" %}
                    <p class="text" style="white-space: pre-wrap" id="intro-prompt-rules" >You must use the [artist] placeholder.</p>
                  {% endif %}
                  <textarea class="text basic-padding"  name="intro-prompt" id="intro-prompt" style="width:100%" >{{search.intro_prompt}}</textarea> 
                  
                    
                  <div id="intro-prompt-div" class="horizontal-container">
                    <input type="checkbox" value="limited" id="default-intro-prompt" name="default-intro-prompt" class="checkbox"/>
                    <label class="text" for="default-intro-prompt" >Set as default</label>

                    <input {{"checked" if search.improved_intro else ""}} type="checkbox" value="limited" id="check-improve-intro" name="improve-intro" class="checkbox"/>
                    <label class="text" for="check-improve-intro" >Improve intro description</label>
                  </div>

                </div> 
            
                <!--  IMPROVER PROMPT  -->
                <div class="accordion-content col-lg-6 col-12" id="improver-prompt-div" {{ "" if search.improved_song or search.improved_intro else "hidden" }} >

                  <div style="display:flex;align-items:center">
                    <h6 class="section-title">Improver prompt </h6>
                    <button class="btn btn-outline-secondary btn-sm" style="margin-left:auto" onClick="resetPrompt('improver')">Reset</button>
                    
                  </div>

                  <p class="text" style="white-space: pre-wrap" id="improver-prompt-rules" >This prompt will be sent along the first gpt response in order to make the text more human-friendly. You can use the [old text] placeholder. Otherwise, the text to be improved will be added at the end of your prompt.</p>
                  <textarea class="text basic-padding"  name="improver-prompt" id="improver-prompt" style="width:100%" >{{search.improver_prompt}}</textarea> 
                    
                  
                  <div class="horizontal-container">
                    <input type="checkbox" value="limited" id="default-improver-prompt" name="default-improver-prompt" class="checkbox"/>
                    <label class="text" for="default-improver-prompt" >Set as default</label>
                  </div>

                </div> 
              
              </div>
            </div>
          </div>

        </div>

        <!--  IMAGE  -->
        <div class="accordion-item" id="img-acc-label">
          <h2 class="accordion-header" id="headingOne">
            <button {{"" if search.include_img else "disabled"}} class="accordion-button collapsed" id="acc-btn-img" style="display:flex" type="button" aria-expanded="true" aria-controls="img-acc-item">
              <span style="flex:1">Featured image parameters</span>
              <div class="horizontal-container" style="margin-right:2em;">
                <input {{"checked" if search.include_img else ""}} type="checkbox" value="limited" id="include-img" name="include-img" onclick="event.stopPropagation();" class="checkbox"/>
                <label class="text" for="include-img" >Generate image</label>
              </div>
            </button>
          </h2>

          <div id="img-acc-item" aria-labelledby="img-acc-label" class="accordion-collapse collapse" data-bs-parent="#input-accordion">
            <div class="container-fluid accordion-body">
              <div class="row" style="width:100%">

                <!--  IMG PROMPT  -->
                <div class="accordion-content col-12">

                  <div style="display:flex;align-items:flex-start">
                    <h6 class="section-title">ChatGPT Prompt</h6>
                    <button class="btn btn-outline-secondary btn-sm" style="margin-left:auto" onClick="resetPrompt('img')">Reset</button>
                    
                  </div>

                  <p class="text" style="white-space: pre-wrap" id="img-prompt-rules" >This prompt will be used to ask ChatGPT for a Stable Diffusion Prompt. You can use the {{ "[" + search.by + "]" }} and [summary] placeholders. A summary of the article will be appended at the end of this prompt if [summary] is not used.</p>
                  <textarea class="text basic-padding"  name="img-prompt" id="img-prompt" style="width:100%" >{{search.img_prompt}}</textarea> 
                  
                  <div id="img-prompt-div" class="horizontal-container">
                    <input type="checkbox" value="limited" id="default-img-prompt" name="default-img-prompt" class="checkbox"/>
                    <label class="text" for="default-img-prompt" >Set as default</label>
                  </div>
                </div>

                <!--  SD KEYWORDS  -->
                <div class="accordion-content col-lg-6 col-12">
                
                  <div style="display:flex;align-items:center">
                    <h6 class="section-title">Positive keywords for featured image</h6>
                    <button class="btn btn-outline-secondary btn-sm" style="margin-left:auto" onClick="clearImgKeywords('p')">Clear</button>
                  </div>
                  
                  <p class="text" style="white-space: pre-wrap" id="intro-prompt-rules" >You can add keywords such as styles or colors (eg. vibrant, colorful, van gogh). These will be appended to the GPT-generated prompt.</p>
                  
                  <div class="horizontal-container">
                    <input
                      style="flex:1"
                      type="text"
                      class="form-control"
                      id="p-img-keyword"
                      placeholder="Vibrant"
                      onKeyDown="if(event.keyCode==13) addImgKeyword('p');"
                    />
                    <button class="btn btn-outline-primary btn-sm" style="margin-left:auto" onClick="addImgKeyword('p')">Add</button>
                  
                  </div>
                    
                  <div id="p-img-kws-container" class="horizontal-container basic-padding">
                    {% for kw in search.image_prompt_keywords %}
                      <div class="btn-group" id="p-img-kw-{{kw.replace(' ', '-')}}" role="group" aria-label="keyword for image">
                        <button type="button" class="btn btn-secondary">{{kw}}</button>
                        <button type="button" class="btn btn-secondary" onClick="deleteImgKeyword('{{kw}}', 'p')">X</button>
                      </div>
                  
                    {% endfor %}
                  </div>

                </div> 
            
                <!--  SD NEGATIVE KEYWORDS  -->
                <div class="accordion-content col-lg-6 col-12">
                
                  <div style="display:flex;align-items:center">
                    <h6 class="section-title">Negative keywords for featured image</h6>
                    <button class="btn btn-outline-secondary btn-sm" style="margin-left:auto" onClick="clearImgKeywords('n')">Clear</button>
                  </div>
                  
                  <p class="text" style="white-space: pre-wrap" id="intro-prompt-rules" >You can add negative keywords for the Stable Diffusion prompt (eg. ugly, badly drawn). These will be appended to a general list of negative keywords.</p>
                  
                  <div class="form-group horizontal-container">
                    <input
                      style="flex:1"
                      type="text"
                      class="form-control"
                      id="n-img-keyword"
                      placeholder="Out of frame"
                      onKeyDown="if(event.keyCode==13) addImgKeyword('n');"
                    />
                    <button class="btn btn-outline-primary btn-sm" style="margin-left:auto" onClick="addImgKeyword('n')">Add</button>
                  
                  </div>
                    
                  <div id="n-img-kws-container" class="horizontal-container basic-padding">
                    {% for kw in search.image_nprompt_keywords %}
                      <div class="btn-group" id="n-img-kw-{{kw.replace(' ', '-')}}" role="group" aria-label="keyword for image">
                        <button type="button" class="btn btn-secondary">{{kw}}</button>
                        <button type="button" class="btn btn-secondary" onClick="deleteImgKeyword('{{kw}}', 'n')">X</button>
                      </div>
                  
                    {% endfor %}
                  </div>

                </div>
                
                <!--  IMG CONFIG - STEPS  -->
                <div class="accordion-content col-lg-4 col-md-6 col-12">
                  <label style="font-weight:bold" >Steps</label>
                  <div class="horizontal-container">
                    <input type="number" min="10" max="150" value="{{search.img_config.get('steps')}}" id="img-config-steps-txt" style="max-width:3.5em">  &nbsp
                    <input type="range" id="img-config-steps" min="10" max="150" step="1" value="{{search.img_config.get('steps')}}" style="flex:1">
                    <div>
                      <input type="checkbox" value="limited" id="default-img-steps" class="checkbox">
                      <label for="default-img-steps" >Default</label>
                    </div>
                  </div>
  
                </div>
                
                <div class="accordion-content col-lg-4 col-12"></div>
                <!--  IMG CONFIG - ASPECT RATIO  -->
                <div class="accordion-content col-lg-4 col-md-6 col-12">
                  <label style="font-weight:bold" >Aspect ratio</label>
                  <div class="horizontal-container">
                    <div class="dropup">
                      <button class="btn btn-secondary dropdown-toggle" id="img-config-ar-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{search.img_config.get('aspect-ratio', '1344x768')}}
                      </button>
                      <ul class="dropdown-menu">
                        {% for dim, ar in aspect_ratios %}
                        <li><button class="dropdown-item" onClick="setAr('{{dim}}', '{{ar}}')">{{dim + "(" + ar + ")"}}</button></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div>
                      <input type="checkbox" value="limited" id="default-img-aspect-ratio" class="checkbox">
                      <label for="default-img-aspect-ratio" >Default</label>
                    </div>

                  <input type="text" hidden id="img-config-ar" value="{{search.img_config.get('aspect-ratio', '1344x768')}}">
  
                  </div>
                </div>
              
              </div>
            </div>
          </div>

        </div>

        <!--  LIMITS  -->
        <div class="accordion-item accordion-last" id="limits-acc-label">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#limits-acc-item" aria-expanded="true" aria-controls="limits-acc-item">
              Search parameters
            </button>
          </h2>

          <div id="limits-acc-item" aria-labelledby="limits-acc-label" class="accordion-collapse collapse" data-bs-parent="#input-accordion">

            <div class="container-fluid accordion-body">
              <div class="row" style="width:100%">

                <!-- <div class="accordion-content col-lg-3 col-md-6 col-12">

                    <div class="horizontal-container">
                      <input checked type="checkbox" value="limited" id="check-limit-kw" name="check-limit-kw" class="checkbox">
                      <label for="limit-range-kw" >Limit results</label>
                    </div>

                    <div class="horizontal-container">
                      <input  type="number" value="20" id="limit-range-kw-txt" name="limit-range-kw-txt" style="max-width:3em">  &nbsp
                      <input type="range" id="limit-range-kw" min="1" max="50" step="1" value="20" style="flex:1">
                    </div>

                </div>

                <div class="accordion-content col-lg-3 col-md-6 col-12">
                      
                  <div class="horizontal-container">
                    <input type="checkbox" value="limited" id="check-offset" name="check-offset" class="checkbox">
                    <label for="offset-range" >Result offset</label>
                  </div>

                  <div class="horizontal-container">
                    <input disabled type="number" value="0" id="offset-range-txt" name="offset-range-txt" style="max-width:3em">  &nbsp
                    <input disabled type="range" id="offset-range" min="0" max="50" step="1" value="0" style="flex:1">
                  </div>
  
                </div> -->

                <div class="accordion-content col-lg-3 col-md-6 col-12">
                  <span class="text" style="font-size:1em;font-weight:bold">Select OpenAI model</span>
                  <div class="form-check">
                    <input {{"checked" if search.model == "gpt-3.5-turbo-1106" else "" }} class="form-check-input" type="radio" value="gpt-3.5-turbo-1106" name="model" id="gpt-turbo">
                    <label class="form-check-label" for="gpt-turbo">
                      GPT 3.5 Turbo
                    </label>
                  </div>
                  <div class="form-check">
                    <input {{"checked" if search.model == "gpt-4-1106-preview" else "" }}  class="form-check-input" type="radio" value="gpt-4-1106-preview" name="model" id="gpt-4">
                    <label class="form-check-label" for="gpt-4">
                      GPT 4
                    </label>
                  </div>
                </div>

                <div class="accordion-content col-lg-3 col-md-6 col-12">
                  <input checked type="checkbox" value="limited" id="wordpress" name="wordpress" class="checkbox">
                  <span class="text" style="font-size:1em">Generate Wordpress draft</span>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  SUBMIT BTN   -->
  <div class="row" style="margin:2em;text-align:center">

        <div class="col-12">
          <button class="btn btn-success basic-padding" id="btn-search" 
          onClick="finalize('{{search.by}}')" style="width:100%">
            Proceed Process by {{search.by}}
          </button>
        </div>

  </div>

      
</div>


{% block modal_container %}
{% endblock %}

{% endblock %}
    