{% extends "base.html" %} {% block title %}Song search{% endblock %}
{% block content %}


<div class="container-fluid">
<div class="row"><div class="col-lg-6" style="justify-content:center;text-align:center">
  <h1 class="page-title">Search songs</h1></div></div>
  <div class="row">
    <div class="col-lg-6">
      <table class="table" id="keyword-table">
          <thead>
              <tr>
              <th scope="col">Keyword</th>
              <th scope="col">Specific keyword</th>
              <th scope="col">
                <button type="button" class="btn btn-outline-danger" onClick="clear_table('input')" style="font-size:70%">Clear</button>
              </th>
              </tr>
          </thead>
          <tbody>
              {%for idx, keyword, sp_kw in input_data %}
          <tr>
          <td>
              {{keyword.title()}}
          </td>
          <td>
              {{sp_kw.title()}}
          </td>
          <td class="column_action">
              <button type="button" class="btn btn-outline-danger" onClick="delete_row({{ idx }}, 'input')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
              </button>
          </td>
          </tr>
              {% endfor %}
          <form method="POST">
          <tr>
            <input hidden name="option" value="input_row">
            <td>
              <div class="form-group">
                <input
                  autofocus
                  type="text"
                  class="form-control"
                  id="keyword"
                  name="keyword"
                  placeholder="Animals"
                />
              </div>
            </td>
            <td>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="sp_keyword"
                  name="sp_keyword"
                  placeholder="Cat"
                />
              </div>
            </td>
            <td class="column_action">
              <button type="submit" class="btn btn-success" id="btn-new-row">
                Add
              </button>
            </td>
          </tr>
          </form>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
    <div class="row">
    <div class="col-lg-6">

    <form method="POST">
      
        <input hidden name="option" value="search">
        <div class="nice-container basic-padding">
          <div class="horizontal-container">
            <input checked type="checkbox" value="limited" id="check-limit-kw" name="check-limit-kw" class="checkbox">
            <label for="limit-range-kw" >Limit results by keyword</label></div>

          <div class="horizontal-container">
            <input  type="number" value="20" id="limit-range-kw-txt" name="limit-range-kw-txt" style="max-width:3em">  &nbsp
            <input type="range" id="limit-range-kw" min="1" max="50" step="1" value="20" style="flex:1">
          </div>

        </div> 
    </div> 
    <div class="col-lg-6">
          
        <div class="nice-container basic-padding">
          <div class="horizontal-container">

          <input type="checkbox" value="limited" id="check-offset" name="check-offset" class="checkbox">
          <label for="offset-range" >Result offset</label></div>

          <div class="horizontal-container">
          <input disabled type="number" value="0" id="offset-range-txt" name="offset-range-txt" style="width:3em">  &nbsp
          <input disabled type="range" id="offset-range" min="0" max="50" step="1" value="0">
          </div>

      </div> 
    </div>
  
  </div>
  <div class="row">

    <div class="col-lg-12">

      <div class="nice-container basic-padding" >
        <div class="horizontal-container" style="white-space: nowrap;align-items:flex-end">

        <input {{ "" if existing else "checked" }} type="checkbox" value="limited" id="check-prompt" name="check-prompt" class="checkbox">
        <label for="prompt" >Use default prompt</label>
        </div>

        <div {{ "" if existing else "hidden" }} id="prompt-div" class="horizontal-container">
          <p class="text" style="white-space: pre-wrap" id="prompt-rules" >You can use the following placeholders that will be replaced with each song's data: 
[artist] [release year] [track name]</p>
        <textarea {{ "" if existing else "disabled" }} class="text basic-padding"  name="prompt" id="prompt" style="width:100%;border-radius:1em;min-height:7em" >{{prompt}}</textarea> 
        </div>

    </div> 

    </div>

  </div>
  <div class="row">

    <div class="col-lg-12">

      <div class="nice-container basic-padding" >
        <div class="horizontal-container" style="white-space: nowrap;align-items:flex-end">

        <input {{ "" if existing else "checked" }} type="checkbox" value="limited" id="check-intro-prompt" name="check-intro-prompt" class="checkbox">
        <label for="intro-prompt" >Use default prompt for intro</label></div>

        
        <div {{ "" if existing else "hidden" }} id="intro-prompt-div" class="horizontal-container">
          <p class="text" style="white-space: pre-wrap" id="intro-prompt-rules" >You must use the [keyword] placeholder.</p>
        <textarea {{ "" if existing else "disabled" }} class="text basic-padding"  name="intro-prompt" id="intro-prompt" style="width:100%;border-radius:1em;min-height:7em" >{{intro_prompt}}</textarea> 
        </div>

    </div> 

    </div>

  </div>
  
  </div>
  
  </div>
    <div class="row" style="margin-top:2em;text-align:center">

          <div class="col-md-12">
            <button type="submit" class="btn btn-primary basic-padding" id="btn-search" data-toggle="modal" data-target="#modal_searching" style="width:100%">
              Search
            </button>
          </div>

        </div>
        <div class="row" style="margin-top:2em;text-align:center">
    
              <div class="col-md-12">
                <input checked type="checkbox" value="limited" id="wordpress" name="wordpress" class="checkbox">
          <span class="text" style="font-size:1em">Generate Wordpress draft</label>
              </div>
    
            </div>
      
    </div></form>
  </div>
</div>



<div class="modal fade" id="modal_searching" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Searching...</h5>
          
      </div>
      <div class="modal-body">
          <p>Do not close or exit the webpage. It may take more than 5 minutes to complete, in which case just visit the <a href='/history'>Search History</a> for the latest search results.</p>
      </div>
      <!--
      <div class="modal-footer">
          <button type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-aceptar">Añadir</button>
      </div>-->
      </div>
      
  </div>
  </div>

{% endblock %}
    