{% extends "base_search.html" %} 

{% block page_title %}Search songs{% endblock %}

{% block accordion_title %}
Keyword selection &nbsp<span id="keyword-accordion-title" class="text" ></span>
{% endblock %}

{% block searchinput %}

<div class="col-sm-6">
  <div class="form-group" style="margin-bottom:1.2em">
    <label for="keyword" style="font-weight:bold">Keyword</label>
    <input
      autofocus
      type="text"
      class="form-control"
      id="keyword"
      name="keyword"
      placeholder="Animals"
      {{'value=' + keywords.get('keyword', '') if keywords.get('keyword', '') != '' else ''}}
    />
  </div>
</div>

<div class="col-sm-6">
  <table class="table" id="keyword-table">
      <thead>
          <tr>
          <th scope="col">Specific keywords</th>
          <th scope="col">
            <button type="button" class="btn btn-outline-danger" onClick="clearKeywordTable()" style="font-size:70%">Clear</button>
          </th>
          </tr>
      </thead>
      <tbody id="keyword-table-body">
          {% for sp_kw in keywords.get("sp_keywords") %}
      <tr id="{{ 'tr-' + sp_kw }}">
      <td>
          {{sp_kw.title()}}
      </td>
      <td class="column_action">
          <button type="button" class="btn btn-outline-danger" onClick="deleteKeyword('{{ sp_kw }}')">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
          </button>
      </td>
      </tr>
          {% endfor %}
      <tr id="keyword-input-row">
        <td>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="sp_keyword"
              name="sp_keyword"
              placeholder="Cat"
            />
          </div>
        </td>
        <td class="column_action">
          <button onClick="addKeyword()" class="btn btn-success" id="btn-new-row">
            Add
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}
    