{% extends "base.html" %} {% block title %}Single Search{% endblock %}
{% block content %}



<div class="basic-padding">
    <h3 class="page-title">Single Search</h3>

    <div class="col-sm-6">
        <form action="single_search" method="post">
            <div class="form-group mb-3">
                <label for="searchByTrackId">
                  <input type="checkbox" id="searchByTrackId" onclick="toggleInputFields()"> Search by Track ID
                </label>
              </div>
            
              <div class="form-group" id="trackIdGroup" style="display: none;">
                <label for="trackId">Track ID</label>
                <input type="text" class="form-control" id="trackId" name="trackId" placeholder="Track ID">
              </div>
            
              <div class="form-group" id="artistNameGroup">
                <label for="artistName">Artist Name</label>
                <input type="text" class="form-control" id="artistName" name="artistName" placeholder="Artist Name">
              </div>

              <br>
            
              <div class="form-group" id="trackNameGroup">
                <label for="trackName">Track Name</label>
                <input type="text" class="form-control" id="trackName" name="trackName" placeholder="Track Name">
              </div>
      
              <button type="submit" class="btn btn-success mt-2" onClick="">Search</button>
        </form>
      </div>

      <div class="mb-10">
        <br>
      </div>
    {% if spotifyResponse %}
    <h4>Match Found</h4>
    <form id="spotifyTrackForm" method="post" action="/add_to_draft" class="row g-3" >
      <div class="col-md-6">
        <div class="form-group">
          <label for="artist" class="form-label">Artist</label>
          <input type="text" class="form-control" name="artist" placeholder="{{spotifyResponse.artist}}" value="{{spotifyResponse.artist}}">
        </div>
        <div class="form-group">
          <label for="track" class="form-label">Track Title</label>
          <input type="text" class="form-control" id="track" name="track_name" placeholder="{{ spotifyResponse.track }}" value="{{ spotifyResponse.track }}">
        </div>
        <div class="form-group">
          <label for="album" class="form-label">Album Name</label>
          <input type="text" class="form-control" id="album" name="album" placeholder="{{ spotifyResponse.album }}" value="{{ spotifyResponse.album }}">
        </div>
        <div class="form-group">
          <label for="releaseYear" class="form-label">Release Year</label>
          <input type="number" class="form-control" id="releaseYear" name="release_year" placeholder="{{ spotifyResponse.release_year }}" value="{{ spotifyResponse.release_year }}">
        </div>
      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label for="previewUrl" class="form-label">Track ID</label>
          <input type="text" class="form-control" id="track_id" name="track_id" placeholder="{{ spotifyResponse.track_id }}" value="{{ spotifyResponse.track_id }}">
        </div>
        <div class="form-group">
          <label for="popularity" class="form-label">Popularity Score</label>
          <input type="number" class="form-control" id="popularity" name="popularity" placeholder="{{ spotifyResponse.popularity }}" value="{{ spotifyResponse.popularity }}">
        </div>
        <div class="form-group">
          <label for="externalUrl" class="form-label">Spotify URL</label>
          <input type="text" class="form-control" id="externalUrl" name="external_url" placeholder="{{ spotifyResponse.external_url }}" value="{{ spotifyResponse.external_url }}">
        </div>
        <div class="form-group">
          <label for="durationMs" class="form-label">Duration (ms)</label>
          <input type="number" class="form-control" id="durationMs" name="duration_ms" placeholder="{{ spotifyResponse.duration_ms }}" value="{{ spotifyResponse.duration_ms }}">
        </div>
      </div>
      <button type="submit" class="btn btn-warning" name="submitType" value="keyword">Add to Keywords Draft</button>
      <button type="submit" class="btn btn-warning" name="submitType" value="artist">Add to Artists Draft</button>
    </form>
    {% endif %}
    
    
    
</div>

{% endblock %}
