{% extends "base.html" %} {% block title %}Spotify Drafts{% endblock %}
{% block content %}

<div class="basic-padding">
    <h1 class="page-title">Spotify Draft</h1>
    <table class="table" id="keyword-table">
      <thead>
        <tr>
          <th></th>
          <th>Artist</th> 
          <th>Track</th>
          <th>Keyword</th>
          <th>Popularity</th>
          <th>Remove</th>
          <th scope="col" colspan="3">
            {% if drafts|length != 0 %}
            <button type="button" class="btn btn-warning" onClick="clearySpotifyDraft(`{{by}}`)" style="font-size:90%;width:100%">Discard Draft</button>
            {% endif %}
          </th>
        </tr>
      </thead>
      <form id="deleteForm" method="post" action="/deleteSelected/{{by}}">
        <div class="inline">
          <input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)">  <h7>Select All</h7>
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
        </button>
        </div>
        <tbody>
          {% for draft in drafts %}
          <tr>
            <td>
              <input type="checkbox" name="selected_drafts" value="{{ draft.id }}" class="draft-checkbox">
            </td>
            <td>{{draft.artist}}</td> 
            <td>{{draft.track_name_clean}}</td>
            <td>
              {% if draft.searchedby=="artist" %}
              {{ draft.keywords }}
              {% elif draft.searchedby=="keyword" %}
              {{ draft.keyword }}
               <span class="text">
                ({{ draft.sp_keywords|join(', ') }})</span>
              {% endif %}
            </td>
            <td>{{draft.popularity}}</td>
            <td>
              {% if draft.searchedby == "artist" %}
                  <button type="button" class="btn btn-danger" onClick="deleteSpotifyDraft({{ draft.id }}, 'artist')">Remove</button>
              {% elif draft.searchedby == "keyword" %}
                  <button type="button" class="btn btn-danger" onClick="deleteSpotifyDraft({{ draft.id }}, 'keyword')">Remove</button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </form>
      
    </table>
    {% if drafts|length != 0 %}
    <div class="text-right" style="display: flex; justify-content: space-between;">
      {% if by == 'artist' %}
        <button type="button" class="btn btn-success" onClick="proceed('artist')" style="font-size:90%;width:45%;">Proceed with Artist List</button>
      {% endif %}

      {% if by == 'keyword' %}
      <button type="button" class="btn btn-success" onClick="proceed('keyword')" style="font-size:90%;width:45%;">Proceed with Keyword List</button>
      {% endif %}
    </div>
    {% endif %}

</div>

{% endblock %}
